* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dae0e6;
  display: flex;
  flex-direction: column;
  

}
main {
  position: relative;
  top: 55px;
  color: black;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Will justify the logo, search bar and profile icon. Don't forget to make the search bar a 
specific proportion once it comes down to it */

/* Navigation Bar Stylign */
nav  {
  height: 55px;
  width: 100%;
  position: fixed;
  background-color: white;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
nav .img-container {
  width: 122px;
}

nav .img-container .user-icon-img {
  float: right;
}

nav img {
  height: 55px;
  padding: 10px;
}

nav form {
  height: 25px;
  margin-top: 15px;
  width: 205px; 
  border: 1px solid #c8c6c6;
  border-radius: 10px;
}

nav input[type=search] {
  height: 100%;
  width: 50%;
  border: none;
  border-radius: 10px;
}
nav button {
  width: 50%;
  height: 100%;
  border: none;
  border-radius: 10px;
}

/* Post Page Styling */
.posts-page {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.loading-state {
  display: flex;
  justify-content: center;
  color:#615f5f;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Filter Bar Styling */
.filter-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.filter-bar {
  width: 75%;
  background-color: white;
  padding: 10px;
  color: black;
  border-radius: 5px;
  border: 1px solid #c8c6c6;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}

/* Button and Drop Down Menu Styling */

.filter-bar button {
  background-color: #c8c6c6;
  border: none;
  border-radius: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
}

.filter-bar button:active {
  background-color: #a9a7a7;
}
.filter-bar button::after {
  background-color: #a9a7a7;
}
.filter-bar .popularity-filter {
  min-width: 5%
}
.filter-bar .country-filter {
  padding: 10px;
  min-width: 10%;
  max-width: 15%
}
.filter-bar .top-filter {
  min-width:10%;
}
.filter-bar .new-filter {
  min-width: 10%;
  padding: 10px;
}

/* Post Styling */

a:link.post  {
  text-decoration: none;
  
}

a:visited.post {
  text-decoration: none;
}
a:hover.post {
  text-decoration: none;
  border: .25px solid black;
}
a:active.post {
  text-decoration: none;
}
.post-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.post {
  background-color: white;
  height: auto;
  width: 75%;
  margin: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  color: black;
  border-radius: 5px;
  border: 1px solid #c8c6c6;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  text-decoration: none;
}

.post h1 {
  font-size: 20px;
  font-weight: 400
}

.clicked-post-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Comment Styling */ 
.comments-container {
  height: auto;
  width: 75%;
}

.comment {
  background-color: white;

  padding: 10px;
  color: black;
  border-radius: 5px;
  border: 1px solid #c8c6c6;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  text-decoration: none;

}

.comment h3 {
  font-weight: 400;
  font-size: 13px;
}



