body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7e7e7;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Will justify the logo, search bar and profile icon. Don't forget to make the search bar a 
specific proportion once it comes down to it */

navbar {
  position: fixed;
  background-color: white;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.post {
  background-color: white;
}


